.todo {
  background: #3bceac;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.todo:hover {
  background: #28997f;
}

.todo.completed {
  border-left: 8px solid #540d6e;
  border-right: 8px solid #540d6e;
  background: #f2d0ff;
}

.todo.completed:hover {
  background: #e39cfe;
}

.todo h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo h5 {
  color: #7c5f00;
}
