<form>
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="title" />
  </div>
  <div class="form-control">
    <label for="dueDate">Date Due</label>
    <input type="date" name="dueDate" id="dueDate" />
  </div>
  <div class="form-control">
    <label for="description">Description</label>
    <input
      type="text"
      name="description"
      id="description"
      placeholder="description"
    />
    <div class="form-control-check">
      <label for="highPriority">High Priority</label>
      <input
        type="checkbox"
        name="highPriority"
        id="highPriority"
        placeholder="highPriority"
      />
    </div>
    <input type="submit" value="Create Todo" class="btn btn-block" />
  </div>
</form>
