<form (ngSubmit)="onSubmit()" class="add-form">
  <div class="form-control">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      [(ngModel)]="title"
      id="title"
      placeholder="title"
    />
  </div>
  <div class="form-control">
    <label for="dueDate">Date Due</label>
    <input type="date" name="dueDate" [(ngModel)]="dueDate" id="dueDate" />
  </div>
  <div class="form-control">
    <label for="description">Description</label>
    <input
      type="text"
      name="description"
      [(ngModel)]="description"
      id="description"
      placeholder="description"
    />
    <div class="form-control-check">
      <label for="completed">High Priority</label>
      <input
        type="checkbox"
        name="completed"
        [(ngModel)]="completed"
        id="completed"
      />
    </div>
    {{ title }}
    <input type="submit" value="Create Todo" class="btn btn-block" />
  </div>
</form>
